/*install font*/

@font-face{
    font-family: MB;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face{
    font-family: MR;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Fenix;
    src: url(../fonts/Fenix-Regular.ttf);
}



body{
    margin: 0;
}

.navbar{
    background: linear-gradient(#ece9e6,#ffffff);
    width: 100%;
    overflow: hidden;
    
    
}

.container{
    width: 1000px;
    overflow: hidden;
    margin: auto;
}

.navbar .logo{
    float: left;
    padding-bottom: 50;
    color: #283048;
    position: relative;
    left: 150px;
}

.navbar .isi{
    float: right;
    font-size: 18px;
    margin-top: 33px;
    
}

.navbar .isi li{
    position:relative;
    float: right;
    margin-left: 70px;
    display: block;
    right: 0;

    
}


.navbar .isi li a{
    text-decoration: none;
    color: #928dab;
    font-family: MR;
    
}

.navbar .isi li a:hover{
    color: #000000;
    
}

.animasinav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000;
    cursor: pointer;
    transition: width .3s;
}

.animasinav:hover::after{
    width: 100%;
    transition: width .3s;
}

#awal{
    margin-top: 100px;
    margin-bottom: 150px;

}

.nama{
    font-size: 40px;
    color: #928dab;
    font-family: MB;
    
}

.welcome{
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: -1px 1px 5px #ffffff;
    font-family: MB;
    font-size: 60px;
    padding-top: 500px;
    margin-bottom: 500px;
    line-height: 50%;
    cursor: pointer;
    transition: 2s;
}

.welcome:hover{
    color: black;
    transform: translateY(-20px);
    text-shadow: -1px 1px 2px #928dab;
}



#awal .pembuka{

    text-align: center;
    color: #ffffff;
    transition: .8s;
}

#awal .pembuka:hover{

    color: #928dab;
    transform: translateY(-10px);
    cursor: pointer;
}



#awal .pembuka .deskripsi{
    padding-top: 40px;
    font-family: MR;
    text-align: center;
    font-size: 20px;

}




.fonts{
    font-family: Fenix;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #928dab;
}

.kontener{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}


#Skills {
   
    text-align: center;
    overflow: hidden;
    
    
}

.sekil{
    font-family: MB;
    font-size: 32px;
    
}

.kontener .card{
    position: relative;
    width: 250px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.kontener .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.kontener .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px #928dab;
    background: #ffffff;
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

.card:hover .percent .number h2{
    color: #928dab;
    font-size: 40px;
    
}



svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;

}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #928dab;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2)
{
    
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 * (440 - 40)/100);
    stroke: #928dab
}

.card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 * (440 - 30)/100);
    stroke: #928dab
}

.card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 * (440 - 10)/100);
    stroke: #928dab
}

#Academic{
    margin-top:100px;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

#Academic .Akademic{
    font-family: MB;
    position:relative;
  
    font-size: 30px;

}

table{
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 100px;
   
}

.tr{
    font-size: 32px;
}

.tebel{
    font-size: 20px;
    position: relative;
   
}
.tr .ele{
    position: relative;
    left: -150px;
    top: 120px;
}

.tr .ju{
    position: relative;
    right: -14px;
    top: 120px;
}

.tr .sen{
    position: relative;
    left: 150px;
    top: 120px;

}


.tebel .asd{
    position: relative;
    left: -150px;
    top: 150px;
}

.tebel .qwe{
    position: relative;
    right: -15px;
    top: 150px;
    
}

.tebel .zxc{
    position: relative;
    left:  150px;
    top: 150px;
    
}

.isiaka{
    margin-bottom: 400px;
}

 #Personality{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.Person{
    font-size: 32px;
    padding-bottom: 50px;
    font-family: MB;
}

 .video{
    position: relative;
    transform: rotate(-90deg);
    left: -400px;
    bottom: -280px;
    font-size: 20px;
    font-family: MR;
}

.garis{
    position: relative;
    bottom: 180px;
}
.people{
    font-size: 30px;
    font-family: MR;
    position: relative;
    bottom: 150px;
    right: -140px;
}


.bawah .kontenerbawah{
    font-family: MR;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: calc( 50% - 190px);
}

.isisos{
    margin-right: 670px;
    margin-top: 100px;
    
    text-align: left;
    float:right;
}

.isisos li{
    display: block;
    font-size: 15px;
    padding-top: 20px;
    
}

.isisos li a{
    
    text-decoration: none;
    color: #928dab;
    transition: .5s;
}

.isisos li a:hover{
    color: black;
    transition: .5s;
}

.anisos::after{
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: black;
    cursor: pointer;
    transition: width .5s;

}

.anisos:hover::after{
    width: 100%;
    transition: width .5s;
}

.akhir{
    width: 100% ;
    text-align: center;
    margin-top: 20%;
    font-family: Fenix;
}

html{
    scroll-behavior: smooth;
}